<body style="background:#080808; color:white; font-family:sans-serif; text-align:center; padding-top:100px;">
    <h2 style="color:#39ff14;">OPERATOR REGISTRATION</h2>
    <form method="POST" style="display:inline-block; border:1px solid #39ff14; padding:30px; border-radius:15px;">
        <input name="username" placeholder="Choose Identity" style="padding:10px; margin:5px;"><br>
        <input type="password" name="password" placeholder="Create Access Code" style="padding:10px; margin:5px;"><br>
        <button type="submit" style="background:#39ff14; border:none; padding:10px 20px; font-weight:bold; cursor:pointer;">REGISTER</button>
    </form>
</body>